.signinContainer {
    height: 70vh;
   
    margin: 0;
    gap: 100px;
  }
  
  @media (max-width: 767px) {
    .signinContainer {
      flex-direction: column;
    }
  }
  
  .signinContainer .col1 {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    
  }
  
  #signinImg {
    height: 300px;
    margin-top: 15px;
  }
  
  .signinContainer .col1 form {
    height: 250px;
    width: 40%;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
     border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
    transition: box-shadow 0.3s ease; 
  }
  
  .signinContainer .col1 form:hover {
    box-shadow: 0 0 12px rgba(0, 0, 255, 0.3);
  }
  
  .signinContainer .col1 form:focus-within {
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
  }
  
  .signinContainer .col1 form h2 {
    color: #53bcfe;
    margin: 0 auto;
    padding: 5px;
  }
  
  .signinContainer .col1 form label {
    margin-left: 15px;
  }
  
  .signinContainer .col1 form input {
    margin-left: 15px;
    width: 70%;
    background-color: #f5f5f5;
    color: #000;
    height: 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .signinContainer .col1 form input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  }
    
  @media (max-width: 767px) {
    .signinContainer .col1 {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
  }
  .signinContainer .col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
    /* margin: 0 auto; */
    /* align-items: center; */
    margin-top: 10px;
  }
  .signinbtn {
    background-color: #53bcfe;
    height: 30px;
    border: none;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
  }
  
  @media (max-width: 767px) {
    .signinContainer .col2 {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
  }
  
  #head {
    color: #53bcfe;
    font-size: 2rem;
    margin-left: 3rem;
  }
  
  .signinContainer .col2 p {
    font-size: 1.2rem;
  }
  
  .signinContainer .col2 p span {
    font-size: 1.5rem;
    color: #000;
  }
  
  .signinContainer .col2 h4 {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
  
  .signinContainer .col2 button {
    background-color: #53bcfe;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 5px;
  }
  