.signupContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  @media (max-width: 767px) {
    .signupContainer {
      flex-direction: column;
      gap: 20px;
    }
  }
  
  #signupImg {
    height: 500px;
  }
  
  .signupForm {
    padding: 10px;
    width: 30%;
    height: 50%;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
    transition: box-shadow 0.3s ease;
  }
  
  .signupForm:hover {
    box-shadow: 0 0 12px rgba(0, 0, 255, 0.3);
  }
  
  .signupForm:focus-within {
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
  }
  
  .signupForm h1 {
    color: #54bcfe;
    margin: 0 auto;
  }
  
  .signupForm h3 {
    margin-left: 0.5rem;
    /* margin-bottom: 0.2rem; */
  }
  
  .signupForm input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    background-color: #f5f5f5;
    color: #000;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .signupForm input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  }
  
  @media (max-width: 767px) {
    .signupForm {
      width: 90%;
    }
  }
  
  #signupBtn {
    background-color: #53bcfe;
    height: 30px;
    border: none;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
  }
  