.taskCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #F8F7F7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .taskCard h5 {
    font-size: 1.2rem;
    color: #000;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .taskCard h6 {
    font-size: 1rem;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .taskCard p {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  
  .taskLink {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #53bcfe;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    gap: 10px;
  }
  
  .taskLink span {
    margin-left: 5px;
  }
  
  .taskLink svg {
    color: #53bcfe;
    font-size: 1.5rem; /* Increased icon size */
  }
  
  .taskLink:hover {
    color: #3296c8;
  }
  
  .taskCard select {
    height: 30px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #000;
  }
  